<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>list page</h2>
    <a href="/insert">list page</a>
    <table>
      <tr>
        <th>DELETE</th>
        <th>UPDATE</th>
        <th>id</th>
        <th>name</th>
        <th>number</th>
        <th>series</th>
      </tr>
      <!-- 데이터베이스에서 결과값을 data로 받아와 출력-->
      <% if(data){ %> <% data.forEach((el, index)=>{ %>
      <tr>
        <td><a href="/delete/<%= el.id %>"> DELETE</a></td>
        <td><a href="/edit/<%= el.id %>">UPDATE</a></td>
        <td><%= el.id %></td>
        <td><%= el.name %></td>
        <td><%= el.number %></td>
        <td><%= el.series %></td>
      </tr>
      <% }); %> <% } else { %> <% } %>
    </table>
  </body>
</html>
